

  .userImg{
    float: left;
    width: 48px;
    height: 48px;
  }
  .userDetails{
    margin-left: 9px;
    width: calc(100% - 64px);
    line-height: 1.3;
  }
  .userDetails>a {
    display: inline-block;
    font-size: 14px;
  }
  .userAddr{
    
    margin-bottom: 2px;
  }



  .blue-line {
    /* height: 100px; */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    box-shadow: 0 4px 13px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    box-sizing: border-box;
    padding: 5px 6px 7px 7px;
    color: var(--black-500);
    /* background-color: lightblue; */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  .blue-line:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card {
    width: 48px;
    height: 48px;
    background-color: grey;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    
  }
  .card1{
    /* height: 400px; */
    /* width: 50%; */
    width: 70px;
    height: 70px;
    /* background-color: grey; */
    /* margin-left: 10px; */
    margin-right: 10px;
    /* margin-top: 20px;
    margin-bottom:20px; */
  }
  .card2{
    /* height: 400px; */
    width:  calc(100% - 64px);
    /* background-color: grey; */
    margin-left: 10px;
    /* margin-right: 10px;
    margin-top: 20px;
    margin-bottom:20px; */
    text-align: left;
  }
  
  .card-container {
    /* margin-left: 10px;
    margin-right: 10px; */
    display: flex;
  }
  
  .img {
    /* height: 100px;
    width:100%; */
    width: 48px;
    height: 48px;
    /* background: #febe8c; */
  }
  .card-header {
    font-size: 20px;
    margin: 0;
  }